* {
    margin: 0;
    padding: 0;
}
    
    

/* ------------- BANNER ------------*/

#banner{
    height: 5rem;
    background-color: black;
    color: white;
    padding: 5rem 0rem 5rem 0rem;
}

h1{
    border: 5px double white;
    padding: 2rem 0rem 2rem 0rem;
    width: 25rem;
    margin: auto;
    text-align: center;
}

/* ------------- NAVIGATION ------------*/

#navigation-buttons{
    background-color: black;
    margin: auto;
    text-align: center;
}

.tab{
    padding: 0rem 2rem 0rem 2rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.active-tab{
    background-color: white;
    color: black;
}

/* ------------- MAIN ------------*/

#content{

    background: url(./background.jpg);
    background-size: 100%;
    
}

/* ------------- HOME ------------*/

.tab-content{
    background-color: white;
    width: 50%;
    height: 90vh;
    margin: auto;
    opacity: 0.8;
    border: 10px  black;
    border-style: none solid solid solid;
}

#about-heading{
    text-decoration: underline;
}

#about-para{
    padding: 0rem 5rem 0rem 5rem;
}

#opening-hours{
    margin: auto;
    padding-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
}

h2{
    padding: 2rem 0rem 2rem 0rem;
    margin: auto;
    text-align: center;
}

/* ------------- MENU ------------*/

#menu-items{
    display: flex;
    margin: auto;
    height: 15rem;
    justify-content: space-evenly;
}

#food-menu{
    background: url(./burger.jpg);
    background-size: 127%;
    background-repeat: no-repeat;
    width: 15rem;
    cursor: pointer;
}

#drinks-menu{
   background: url(./drink.jpg);
   background-size: 100%;
   background-repeat: no-repeat;
   width: 15rem;
   cursor: pointer;
}

#menu-para{
    text-align: center;
    padding-top: 5rem;
}

.menu-label{
    text-align: center;
    color: white;
    background-color: black;
}

/* ------------- MENU ------------*/

#contact-content{
    margin: auto;
    text-align: center;
}

h3{
    padding-top: 3rem;
}